.content {
    color: #1F2937;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #009E8B;
    font-size: larger;
    padding: 1rem 0;
}

.content p {
    line-height: 1.8rem;
    margin-bottom: 1.1rem;
}

.content a {
    color: #10C5AF;
}
.content a:hover {
    color: #009E8B;
}